<mat-sidenav-container class="sidenav-container" fullscreen>
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true">
    <mat-toolbar color="primary">Меню</mat-toolbar>
    <div class="menu-container">
      <mat-nav-list class="menu-list">
        <a mat-list-item [routerLink]="['/dashboard']" [queryParams]="{ regionType: 1 }">м. Черкаси
          <mat-icon class="menu-icon">location_city</mat-icon>
        </a>
        <mat-list-item>
          <a [routerLink]="['/dashboard']" [queryParams]="{ regionType: 3 }">Райони Черкащини</a>
          <mat-icon class="menu-icon">domain</mat-icon>
          <mat-icon *ngIf="!showDistrictMenu" (click)="onDistrictMenuClick()">chevron_right</mat-icon>
          <mat-icon *ngIf="showDistrictMenu" (click)="onDistrictMenuClick()">expand_more</mat-icon>
        </mat-list-item>
        <mat-nav-list class="sidenav-submenu" *ngIf="showDistrictMenu">
          <a mat-list-item [routerLink]="['/dashboard']" [queryParams]="{ place: 'Городищенський район' }">Городищенський</a>
          <a mat-list-item [routerLink]="['/dashboard']" [queryParams]="{ place: 'Драбіський район' }">Драбіський</a>
          <a mat-list-item [routerLink]="['/dashboard']" [queryParams]="{ place: 'Жашківський район' }">Жашківський</a>
          <a mat-list-item [routerLink]="['/dashboard']" [queryParams]="{ place: 'Звенигородський район' }">Звенигородський</a>
          <a mat-list-item [routerLink]="['/dashboard']" [queryParams]="{ place: 'Золотоніський район' }">Золотоніський</a>
          <a mat-list-item [routerLink]="['/dashboard']" [queryParams]="{ place: 'Кам\'янський район' }">Кам'янський</a>
          <a mat-list-item [routerLink]="['/dashboard']" [queryParams]="{ place: 'Канівський район' }">Канівський</a>
          <a mat-list-item [routerLink]="['/dashboard']" [queryParams]="{ place: 'Катеринопільський район' }">Катеринопільський</a>
          <a mat-list-item [routerLink]="['/dashboard']" [queryParams]="{ place: 'Корсунь-Шевченківський район' }">Корсунь-Шевченківський</a>
          <a mat-list-item [routerLink]="['/dashboard']" [queryParams]="{ place: 'Лисянський район' }">Лисянський</a>
          <a mat-list-item [routerLink]="['/dashboard']" [queryParams]="{ place: 'Маньківський район' }">Маньківський</a>
          <a mat-list-item [routerLink]="['/dashboard']" [queryParams]="{ place: 'Монастирищенський район' }">Монастирищенський</a>
          <a mat-list-item [routerLink]="['/dashboard']" [queryParams]="{ place: 'Смілянський район' }">Смілянський</a>
          <a mat-list-item [routerLink]="['/dashboard']" [queryParams]="{ place: 'Тальнівський район' }">Тальнівський</a>
          <a mat-list-item [routerLink]="['/dashboard']" [queryParams]="{ place: 'Уманський район' }">Уманський</a>
          <a mat-list-item [routerLink]="['/dashboard']" [queryParams]="{ place: 'Чигиринський район' }">Чигиринський</a>
          <a mat-list-item [routerLink]="['/dashboard']" [queryParams]="{ place: 'Черкаський район' }">Черкаський</a>
          <a mat-list-item [routerLink]="['/dashboard']" [queryParams]="{ place: 'Чорнобаївський район' }">Чорнобаївський</a>
          <a mat-list-item [routerLink]="['/dashboard']" [queryParams]="{ place: 'Христинівський район' }">Христинівський</a>
          <a mat-list-item [routerLink]="['/dashboard']" [queryParams]="{ place: 'Шполянський район' }">Шполянський</a>
        </mat-nav-list>

        <mat-list-item>
          <a [routerLink]="['/dashboard']" [queryParams]="{ regionType: 2 }">Mіста Черкащини</a>
          <mat-icon class="menu-icon">domain</mat-icon>
          <mat-icon *ngIf="!showCityMenu" (click)="onCityMenuClick()">chevron_right</mat-icon>
          <mat-icon *ngIf="showCityMenu" (click)="onCityMenuClick()">expand_more</mat-icon>
        </mat-list-item>
        <mat-nav-list class="sidenav-submenu" *ngIf="showCityMenu">
          <a mat-list-item [routerLink]="['/dashboard']" [queryParams]="{ place: 'м. Сміла' }">м. Сміла</a>
          <a mat-list-item [routerLink]="['/dashboard']" [queryParams]="{ place: 'м. Ватутіне' }">м. Ватутіне</a>
          <a mat-list-item [routerLink]="['/dashboard']" [queryParams]="{ place: 'м. Умань' }">м. Умань</a>
         </mat-nav-list>
       
        <a mat-list-item [routerLink]="['/dashboard']" [queryParams]="{ regionType: 4 }">Обласні заклади
          <mat-icon class="menu-icon">local_hotel</mat-icon>
        </a>
        <a mat-list-item [routerLink]="['/dashboard']" [queryParams]="{ regionType: 5 }">Навчальні заклади
          <mat-icon class="menu-icon">store</mat-icon>
        </a>
      </mat-nav-list>
    </div>
  </mat-sidenav>
  <mat-sidenav-content style="height: 100%;">
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Мережа закладів охорони здоров'я Черкаської ОДА</span>
      <span class="spacer"></span>
      <mat-label class="user-email" *ngIf="user">{{user.email}}</mat-label>
      <button *ngIf="!user" mat-mini-fab color="black" (click)="login()">
        <mat-icon color="primary">person</mat-icon>
      </button>
      <button *ngIf="user" mat-mini-fab color="black" (click)="logout()">
        <mat-icon color="primary">directions_walk</mat-icon>
      </button>
    </mat-toolbar>
    <div class="basic-container">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>