.sidenav-container {
  height: 100%;
}
  
.sidenav {
  width: 200px;
}
  
.mat-toolbar.mat-primary {
  position: sticky;
  z-index: 9999;
  top: 0;
}

.menu-icon {
  margin-left: 10px;
}

.mat-drawer-container {
  background-color: #ffffff;
}

  