<mat-horizontal-stepper class="col-md-10 offset-md-1" linear="true" #stepper>
  <mat-step [stepControl]="institutionFormGroup">
    <form class="col-md-6 offset-md-3" [formGroup]="institutionFormGroup">
      <ng-template matStepLabel>Основна інформація</ng-template>
      <mat-form-field class="full-width">
        <input matInput placeholder="Повна офіційна назва" formControlName="fullName" required>
      </mat-form-field>
      <mat-form-field *ngIf="type == 1" class="full-width">
        <mat-select placeholder="Місце розташування" formControlName="place" required>
          <mat-optgroup *ngFor="let group of placeGroups" [label]="group.name">
            <mat-option *ngFor="let place of group.places" [value]="place.name">{{place.name}}</mat-option>
          </mat-optgroup>
        </mat-select>
      </mat-form-field>
      <mat-form-field *ngIf="type == 1" class="full-width">
        <mat-select placeholder="Рівень підпорядкування" formControlName="subordinationLevel" required>
          <mat-option value="міський">Міський</mat-option>
          <mat-option value="районний">Районний</mat-option>
          <mat-option value="обласний">Обласний</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field *ngIf="type == 1" class="full-width">
        <mat-select placeholder="Тип населеного пункту місця розташування" formControlName="placeType" required>
          <mat-option value="місто">Місто</mat-option>
          <mat-option value="село">Село</mat-option>
          <mat-option value="селище">Селище</mat-option>
          <mat-option value="смт">СМТ</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-select placeholder="Тип закладу" formControlName="institutionType" required>
          <mat-option *ngIf="type == 1" value="міська лікарня">Міська лікарня</mat-option>
          <mat-option *ngIf="type == 1" value="міська лікарня ШМД">Міська лікарня ШМД</mat-option>
          <mat-option *ngIf="type == 1" value="міська інфекційна лікарня">Міська інфекційна лікарня</mat-option>
          <mat-option *ngIf="type == 1" value="пологовий будинок">Пологовий будинок</mat-option>
          <mat-option *ngIf="type == 1" value="дитяча лікарня">Дитяча лікарня</mat-option>
          <mat-option *ngIf="type == 1" value="обласна лікарня">Обласна лікарня</mat-option>
          <mat-option *ngIf="type == 1" value="обласна дитяча лікарня">Обласна дитяча лікарня</mat-option>
          <mat-option *ngIf="type == 1" value="ОПЛ">ОПЛ</mat-option>
          <mat-option *ngIf="type == 1" value="госпіталь ВВ">Госпіталь ВВ</mat-option>
          <mat-option *ngIf="type == 1" value="міська поліклініка">Міська поліклініка</mat-option>
          <mat-option *ngIf="type == 1" value="дитяча поліклініка">Дитяча поліклініка</mat-option>
          <mat-option *ngIf="type == 1" value="ЦПМСД">ЦПМСД</mat-option>
          <mat-option *ngIf="type == 1" value="юридична особа ЛА ОТГ">Юридична особа ЛА ОТГ</mat-option>
          <mat-option *ngIf="type == 2" value="базова ЛА">Базова ЛА</mat-option>
          <mat-option *ngIf="type == 2" value="ЛА">ЛА</mat-option>
          <mat-option *ngIf="type == 2" value="АГ">АГ</mat-option>
          <mat-option *ngIf="type == 2" value="АМ">АМ</mat-option>
          <mat-option *ngIf="type == 3" value="ПЗ">ПЗ</mat-option>
          <mat-option *ngIf="type == 3" value="ФАП">ФАП</mat-option>
          <mat-option *ngIf="type == 3" value="ФП">ФП</mat-option>
          <mat-option *ngIf="type == 1" value="ЦРЛ">ЦРЛ</mat-option>
          <mat-option *ngIf="type == 1" value="самостійна РЛ">Самостійна РЛ</mat-option>
          <mat-option *ngIf="type == 1" value="диспансер">Диспансер</mat-option>
          <mat-option *ngIf="type == 1" value="стоматологічна поліклініка">Стоматологічна поліклініка</mat-option>
          <mat-option *ngIf="type == 1" value="санаторій">Санаторій</mat-option>
          <mat-option *ngIf="type == 1" value="ШМД">ШМД</mat-option>
          <mat-option *ngIf="type == 1" value="ІАЦ">ІАЦ</mat-option>
          <mat-option *ngIf="type == 1" value="МСЕК">МСЕК</mat-option>
          <mat-option *ngIf="type == 1" value="центр здоров'я">Центр здоров'я</mat-option>
          <mat-option *ngIf="type == 1" value="центр підвищення кваліфікації">Центр підвищення кваліфікації</mat-option>
          <mat-option *ngIf="type == 1" value="коледж">Коледж</mat-option>
          <mat-option *ngIf="type == 1" value="центр СНІД">Центр СНІД</mat-option>
          <mat-option *ngIf="type == 1" value="центр планування сім'ї">Центр планування сім'ї</mat-option>
          <mat-option *ngIf="type == 1" value="аптека">Аптека</mat-option>
          <mat-option *ngIf="type == 1" value="ОСПК">ОСПК</mat-option>
          <mat-option *ngIf="type == 1" value="СМЕ">СМЕ</mat-option>
          <mat-option *ngIf="type == 1" value="БД">БД</mat-option>
          <mat-option *ngIf="type > 1" value="село">Село</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="full-width">
        <input matInput placeholder="Повна юридична адреса" formControlName="fullAddress" required>
      </mat-form-field>
      <mat-slide-toggle *ngIf="type == 1" class="full-width" formControlName="legalStatus" required>
        Статус юридичної особи
      </mat-slide-toggle>
      <mat-form-field *ngIf="type == 1" class="full-width">
        <input matInput placeholder="Код ЄДРПОУ" formControlName="stateRegisterCode" required>
      </mat-form-field>
      <mat-form-field *ngIf="type == 1" class="full-width">
        <input matInput placeholder="Код території КОАТУУ" formControlName="classifierObjectCode" required>
      </mat-form-field>
      <mat-form-field *ngIf="type == 1" class="full-width">
        <input matInput placeholder="Форма власності" formControlName="ownership" required>
      </mat-form-field>
      <mat-form-field *ngIf="type == 1" class="full-width">
        <input matInput placeholder="Код організаційно-правової форми" formControlName="legalFormCode" required>
      </mat-form-field>
      <div>
        <button mat-stroked-button matStepperNext>Далі</button>
      </div>
    </form>
  </mat-step>
  <mat-step *ngIf="institutionFormGroup.value.institutionType !== 'село'" [stepControl]="institutionFormGroup">
    <form class="col-md-6 offset-md-3" [formGroup]="institutionFormGroup">
      <ng-template matStepLabel>Контактна інформація</ng-template>
      <mat-form-field *ngIf="type < 3" class="full-width">
        <input matInput placeholder="Email установи" formControlName="email">
      </mat-form-field>
      <mat-form-field class="full-width">
        <input matInput placeholder="Контактний телефон закладу" formControlName="phone">
      </mat-form-field>
      <mat-form-field class="full-width">
        <input matInput placeholder="Факс" formControlName="fax">
      </mat-form-field>
      <mat-form-field *ngIf="type < 3" class="full-width">
        <input matInput placeholder="Сайт в Internet" formControlName="site">
      </mat-form-field>
      <div *ngIf="type == 1" formGroupName="headDoctor">
        <mat-form-field class="full-width">
          <input matInput placeholder="ПІП головного лікаря (повністю)" formControlName="name">
        </mat-form-field>
        <mat-form-field class="full-width">
          <input matInput placeholder="Робочий телефон" formControlName="workPhone">
        </mat-form-field>
        <mat-form-field class="full-width">
          <input matInput placeholder="Мобільний телефон" formControlName="homePhone">
        </mat-form-field>
      </div>
      <div *ngIf="type == 1" formGroupName="headDoctorSecretary">
        <mat-form-field class="full-width">
          <input matInput placeholder="ПІП секретаря головного лікаря" formControlName="name">
        </mat-form-field>
        <mat-form-field class="full-width">
          <input matInput placeholder="Робочий телефон" formControlName="workPhone">
        </mat-form-field>
      </div>
      <div>
        <button mat-stroked-button matStepperPrevious style="margin-right: 10px;">Назад</button>
        <button mat-stroked-button matStepperNext>Далі</button>
      </div>
    </form>
  </mat-step>

  <mat-step *ngIf="institutionFormGroup.value.institutionType !== 'село'" [stepControl]="institutionFormGroup">
    <form class="col-md-6 offset-md-3" [formGroup]="institutionFormGroup">
      <ng-template matStepLabel>Ресури закладу</ng-template>
      <mat-form-field *ngIf="type == 1" class="full-width">
        <input type="number" min="0" matInput placeholder="Планова кількість ліжок стаціонару" formControlName="hospitalBedsNumber">
      </mat-form-field>
      <mat-form-field *ngIf="type == 1" class="full-width">
        <input type="number" min="0" matInput placeholder="Планова ємність амбулаторно-поліклінічного підрозділу" formControlName="hospitalCapacity">
      </mat-form-field>
      <mat-form-field *ngIf="institutionFormGroup.value.institutionType !== 'ЦПМСД' && institutionFormGroup.value.institutionType !== 'юридична особа ЛА ОТГ'"
        class="full-width">
        <input type="number" min="0" matInput placeholder="Кількість населення, яке офіційно зареєстровано на території обслуговування закладу на 01.01"
          formControlName="population">
      </mat-form-field>
      <mat-form-field class="full-width">
        <input type="number" min="0" matInput placeholder="Лікарі (штатні)" formControlName="regularDoctorNumber">
      </mat-form-field>
      <mat-form-field class="full-width">
        <input type="number" min="0" matInput placeholder="Лікарі (зайняті)" formControlName="busyDoctorNumber">
      </mat-form-field>
      <mat-form-field class="full-width">
        <input type="number" min="0" matInput placeholder="Лікарі (фіз.особи)" formControlName="individualsDoctorNumber">
      </mat-form-field>
      <mat-form-field class="full-width">
        <input type="number" min="0" matInput placeholder="Середній м/п (штатні)" formControlName="middleRegularPersonalNumber">
      </mat-form-field>
      <mat-form-field class="full-width">
        <input type="number" min="0" matInput placeholder="Середній м/п (зайняті)" formControlName="middleBusyPersonalNumber">
      </mat-form-field>
      <mat-form-field class="full-width">
        <input type="number" min="0" matInput placeholder="Середній м/п (фіз.особи)" formControlName="middleIndividualsPersonalNumber">
      </mat-form-field>
      <mat-form-field class="full-width">
        <input type="number" min="0" matInput placeholder="Інший персонал (штатні)" formControlName="otherRegularPersonalNumber">
      </mat-form-field>
      <mat-form-field class="full-width">
        <input type="number" min="0" matInput placeholder="Інший персонал (зайняті)" formControlName="otherBusyPersonalNumber">
      </mat-form-field>
      <mat-form-field class="full-width">
        <input type="number" min="0" matInput placeholder="Інший персонал (фіз.особи)" formControlName="otherIndividualsPersonalNumber">
      </mat-form-field>
      <mat-slide-toggle class="full-width" formControlName="typicalBuilding">
        Характеристика забудови: типовий проект
      </mat-slide-toggle>
      <mat-form-field class="full-width">
        <mat-select placeholder="Опалення" formControlName="heatingType">
          <mat-option value="централізоване">Централізоване</mat-option>
          <mat-option value="індивідуальне: пічне">Індивідуальне: пічне</mat-option>
          <mat-option value="індивідуальне: котел на твердому паливі">Індивідуальне: котел на твердому паливі</mat-option>
          <mat-option value="індивідуальне: котел на рідкому паливі">Індивідуальне: котел на рідкому паливі</mat-option>
          <mat-option value="індивідуальне: газовий котел">Індивідуальне: газовий котел</mat-option>
          <mat-option value="індивідуальне: електронагрівач">Індивідуальне: електронагрівач</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-slide-toggle class="full-width" formControlName="coldWaterSupply">
        Наявність централізованого холодного водопостачання
      </mat-slide-toggle>
      <mat-slide-toggle class="full-width" formControlName="hotWaterSupply">
        Наявність централізованого гарячого водопостачання
      </mat-slide-toggle>
      <mat-slide-toggle class="full-width" formControlName="internetSupply">
        Наявність доступу до мережі інтернет
      </mat-slide-toggle>
      <mat-form-field *ngIf="type < 3" class="full-width">
        <mat-select placeholder="Оснащеність медичним обладнанням та інвентарем" formControlName="equipment">
          <mat-option value=30>до 30%</mat-option>
          <mat-option value=50>до 50%</mat-option>
          <mat-option value=70>до 70%</mat-option>
          <mat-option value=90>до 90%</mat-option>
          <mat-option value=100>100%</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field *ngIf="type < 3" class="full-width">
        <mat-select placeholder="Забезпеченість медикаментамидля надання невідкладної допомоги" formControlName="medicamentEquipment">
          <mat-option value=30>до 30%</mat-option>
          <mat-option value=50>до 50%</mat-option>
          <mat-option value=70>до 70%</mat-option>
          <mat-option value=90>до 90%</mat-option>
          <mat-option value=100>100%</mat-option>
        </mat-select>
      </mat-form-field>
      <div *ngIf="type < 3">
        <mat-label>Транспорті засоби (автомобілі):</mat-label>
        <mat-form-field class="full-width">
          <input type="number" min="0" matInput placeholder="Потреба (кількість)" formControlName="vehiclesNeed">
        </mat-form-field>
        <mat-form-field class="full-width">
          <input type="number" min="0" matInput placeholder="Наявність (кількість)" formControlName="vehiclesReality">
        </mat-form-field>
        <mat-form-field class="full-width">
          <input type="number" min="0" matInput placeholder="В т.ч. на ходу (кількість)" formControlName="vehiclesWay">
        </mat-form-field>
      </div>
      <mat-label>Забезпеченість ЗОЗ комп'ютерною технікою:</mat-label>
      <mat-form-field class="full-width">
        <input type="number" min="0" matInput placeholder="Потреба (кількість)" formControlName="computerEquipmentNeed">
      </mat-form-field>
      <mat-form-field class="full-width">
        <input type="number" min="0" matInput placeholder="Наявність (кількість)" formControlName="computerEquipmentReality">
      </mat-form-field>
      <div>
        <button mat-stroked-button matStepperPrevious style="margin-right: 10px;">Назад</button>
        <button mat-stroked-button matStepperNext>Далі</button>
      </div>
    </form>
  </mat-step>
  <mat-step *ngIf="institutionFormGroup.value.institutionType !== 'село'" [stepControl]="institutionFormGroup">
    <form class="col-md-6 offset-md-3" [formGroup]="institutionFormGroup">
      <ng-template matStepLabel>Повна інформація</ng-template>
      <mat-slide-toggle *ngIf="type == 1" class="full-width" formControlName="receptionOffice">
        Приймальне відділення
      </mat-slide-toggle>
      <mat-form-field *ngIf="institutionFormGroup.value.receptionOffice" class="full-width">
        <input matInput placeholder="Телефон" formControlName="receptionOfficePhone">
      </mat-form-field>
      <mat-slide-toggle *ngIf="type == 1" class="full-width" formControlName="registryOffice">
        Реєстратура амбулаторно-поліклінічного підрозділу
      </mat-slide-toggle>
      <mat-form-field *ngIf="institutionFormGroup.value.registryOffice" class="full-width">
        <input matInput placeholder="Телефон" formControlName="registryOfficePhone">
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-select placeholder="Рівень надання медичної допомоги" formControlName="medicalСare">
          <mat-option value="первинний">Первинний</mat-option>
          <mat-option value="вторинний">Вторинний</mat-option>
          <mat-option value="третинний">Третинний</mat-option>
          <mat-option value="середня ланка">Середня ланка</mat-option>
          <mat-option value="не визначено">Не визначено</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-select placeholder="Види медичної допомоги, які надає ЗОЗ" formControlName="medicalAidTypes" multiple>
          <mat-option value="Стаціонарна допомога">Стаціонарна допомога</mat-option>
          <mat-option value="Амбулаторна допомога">Амбулаторна допомога</mat-option>
          <mat-option value="Стоматологічна допомога">Стоматологічна допомога</mat-option>
          <mat-option value="Допомога дорослому населенню">Допомога дорослому населенню</mat-option>
          <mat-option value="Допомога дитячому населенню">Допомога дитячому населенню</mat-option>
          <mat-option value="Профогляди">Профогляди</mat-option>
          <mat-option value="Проводить експертизу ТН з видачею Л/Л">Проводить експертизу ТН з видачею Л/Л</mat-option>
          <mat-option value="Наявна ліцензія на обіг наркотичних засобів, психоактивних речовин, прекурсорів">Наявна ліцензія на обіг наркотичних засобів, психоактивних речовин, прекурсорів</mat-option>
          <mat-option value="Наявність госпрозрахункового відділення">Наявність госпрозрахункового відділення</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field *ngIf="type == 1" class="full-width">
        <input matInput placeholder="Задекларовані види допомоги" formControlName="declaredAssistanceForms">
      </mat-form-field>
      <mat-slide-toggle *ngIf="type == 1" class="full-width" formControlName="license">
        Наявність ліцензії
      </mat-slide-toggle>
      <div *ngIf="institutionFormGroup.value.license">
        <mat-form-field class="full-width">
          <input matInput placeholder="Номер ліцензії" formControlName="licenseNumber">
        </mat-form-field>
        <mat-form-field class="full-width">
          <input matInput [matDatepicker]="picker" (dateChange)="onFieldDateChange('licenseDate')" placeholder="Дата" formControlName="licenseDate" readonly>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <mat-form-field class="full-width">
          <input matInput [matDatepicker]="startLicensePicker" (dateChange)="onFieldDateChange('startLicenseValidity')" placeholder="Початок терміну дії" formControlName="startLicenseValidity">
          <mat-datepicker-toggle matSuffix [for]="startLicensePicker"></mat-datepicker-toggle>
          <mat-datepicker #startLicensePicker></mat-datepicker>
        </mat-form-field>
        <mat-form-field class="full-width">
          <input matInput [matDatepicker]="endLicensePicker" (dateChange)="onFieldDateChange('endLicenseValidity')" placeholder="Кінець терміну дії" formControlName="endLicenseValidity">
          <mat-datepicker-toggle matSuffix [for]="endLicensePicker"></mat-datepicker-toggle>
          <mat-datepicker #endLicensePicker></mat-datepicker>
        </mat-form-field>
      </div>
      <mat-form-field *ngIf="type == 1" class="full-width">
        <mat-select placeholder="Акредитаційна категорія" formControlName="accreditationCategoryType">
          <mat-option value="наявна">Наявна</mat-option>
          <mat-option value="відсутня">Відсутня</mat-option>
          <mat-option value="не підлягає акредитації">Не підлягає акредитації</mat-option>
        </mat-select>
      </mat-form-field>
      <div *ngIf="institutionFormGroup.value.accreditationCategoryType === 'наявна'">
        <mat-form-field class="full-width">
          <input matInput placeholder="Номер акредитаційної категорії" formControlName="accreditationСategoryNumber">
        </mat-form-field>
        <mat-form-field class="full-width">
          <input matInput [matDatepicker]="lastAccreditationPicker" (dateChange)="onFieldDateChange('lastAccreditation')" placeholder="Дата останньої акредитації" formControlName="lastAccreditation">
          <mat-datepicker-toggle matSuffix [for]="lastAccreditationPicker"></mat-datepicker-toggle>
          <mat-datepicker #lastAccreditationPicker></mat-datepicker>
        </mat-form-field>
        <mat-form-field class="full-width">
          <input matInput [matDatepicker]="startAccreditationPicker" (dateChange)="onFieldDateChange('startAccreditationValidity')" placeholder="Початок терміну дії" formControlName="startAccreditationValidity">
          <mat-datepicker-toggle matSuffix [for]="startAccreditationPicker"></mat-datepicker-toggle>
          <mat-datepicker #startAccreditationPicker></mat-datepicker>
        </mat-form-field>
        <mat-form-field class="full-width">
          <input matInput [matDatepicker]="endAccreditationPicker" (dateChange)="onFieldDateChange('endAccreditationValidity')" placeholder="Кінець терміну дії" formControlName="endAccreditationValidity">
          <mat-datepicker-toggle matSuffix [for]="endAccreditationPicker"></mat-datepicker-toggle>
          <mat-datepicker #endAccreditationPicker></mat-datepicker>
        </mat-form-field>
      </div>
      <div>
        <button mat-stroked-button matStepperPrevious style="margin-right: 10px;">Назад</button>
        <button *ngIf="!isUpdating" mat-stroked-button (click)="saveInstitution()">Зберегти</button>
        <button *ngIf="isUpdating" mat-stroked-button (click)="updateInstitution()">Оновити</button>
      </div>
    </form>
  </mat-step>
  <mat-step *ngIf="institutionFormGroup.value.institutionType === 'село'" [stepControl]="institutionFormGroup">
    <form class="col-md-6 offset-md-3" [formGroup]="institutionFormGroup">
      <ng-template matStepLabel>Ресури</ng-template>
      <mat-form-field class="full-width">
        <input type="number" min="0" matInput placeholder="Кількість населення, яке офіційно зареєстровано на території на 01.01"
          formControlName="population">
      </mat-form-field>
      <div>
        <button mat-stroked-button matStepperPrevious style="margin-right: 10px;">Назад</button>
        <button *ngIf="!isUpdating" mat-stroked-button (click)="saveInstitution()">Зберегти</button>
        <button *ngIf="isUpdating" mat-stroked-button (click)="updateInstitution()">Оновити</button>
      </div>
    </form>
  </mat-step>
</mat-horizontal-stepper>