.hierarchy-tree-invisible {
    display: none;
  }
  
  .hierarchy-tree ul,
  .hierarchy-tree li {
    margin-top: 0;
    margin-bottom: 0;
    list-style-type: none;
}

.mat-icon {
  cursor: pointer;
}
  