<div class="col-md-8 offset-md-2">
  <div>
    <button mat-fab color="primary" style="margin-right: 20px;" (click)="onAddInstitutionClick()">
      <mat-icon>add</mat-icon>
    </button>
    <mat-label>Додати новий заклад</mat-label>
  </div>

  <mat-tree [dataSource]="nestedDataSource" [treeControl]="nestedTreeControl" class="example-tree">
    <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle>
      <li class="mat-tree-node">
        <button mat-icon-button disabled></button>
        {{node.fullName}} : {{node.totalPopulation}} ({{node.population}})
        <a *ngIf="node.type == 2 || node.type == 3 || node.institutionType === 'ЦПМСД' || node.institutionType === 'юридична особа ЛА ОТГ'"
          [routerLink]="['/institutions/add']" [queryParams]="{ parent: node.id, type: node.type + 1 }">
          <mat-icon color="primary">add</mat-icon>
        </a>
      </li>
    </mat-tree-node>

    <mat-nested-tree-node *matTreeNodeDef="let node; when: hasNestedChild">
      <li>
        <div class="mat-tree-node">
          <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'toggle ' + node.fullName">
            <mat-icon class="mat-icon-rtl-mirror">
              {{nestedTreeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
            </mat-icon>
          </button>
          {{node.fullName}} : {{node.totalPopulation}} ({{node.population}})
          <a *ngIf="node.type == 2 || node.type == 3 || node.institutionType === 'ЦПМСД' || node.institutionType === 'юридична особа ЛА ОТГ'"
            [routerLink]="['/institutions/add']" [queryParams]="{ parent: node.id, type: node.type + 1 }">
            <mat-icon color="primary">add</mat-icon>
          </a>
        </div>
        <ul [class.example-tree-invisible]="!nestedTreeControl.isExpanded(node)">
          <ng-container matTreeNodeOutlet></ng-container>
        </ul>
      </li>

    </mat-nested-tree-node>
  </mat-tree>
</div>