@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "~bootstrap/dist/css/bootstrap.css";
@import '~ngx-toastr/toastr.css';
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';

.full-width {
  width: 100%
}

.basic-container {
  padding: 30px
}

a {
  line-height: 1;
}

.spacer {
  flex: 1 1 auto;
}

svg {
	vertical-align: inherit;
}



.toast-container .toast {
  width: 350px!important;
}