@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "~bootstrap/dist/css/bootstrap.css";

.full-width {
  width: 100%
}

.basic-container {
  padding: 30px
}

a {
  line-height: 1;
}

.spacer {
  flex: 1 1 auto;
}