<mat-card *ngIf="institution" class="col-md-8 offset-md-2">
  <mat-card-content>
    <mat-card-title>{{institution.fullName}}</mat-card-title>
    <h6>Місце розташування:  {{institution.place}}</h6>
    <h6>Рівень підпорядкування:  {{institution.subordinationLevel}}</h6>
    <h6>Тип населеного пункту місця розташування:  {{institution.placeType}}</h6>
    <h6>Адреса:  {{institution.fullAddress}}</h6>
    <h6>Населення:  {{institution.totalPopulation}}</h6>
    <h6>Email установи:  {{institution.email}}</h6>
    <h6>Контактний телефон закладу:  {{institution.phone}}</h6>
    <h6>Факс:  {{institution.fax}}</h6>
    <h6>Сайт в Internet:  {{institution.site}}</h6>
    <h6>Статус юридичної особи: <span *ngIf = "institution.legalStatus">Так</span><span *ngIf = "!institution.legalStatus">Ні</span></h6>
    <h6>Код ЄДРПОУ:  {{institution.stateRegisterCode}}</h6>
    <h6>Код території КОАТУУ:  {{institution.classifierObjectCode}}</h6>
    <h6>Форма власності: {{institution.ownership}}</h6>
    <h6>Код організаційно-правової форми (КОПФ): {{institution.legalFormCode}}</h6>
    <h6>ПІП головного лікаря: {{institution.headDoctor.name}}</h6>
    <h6>Робочий телефон:  {{institution.headDoctor.workPhone}}</h6>
    <h6>Мобільний телефон:  {{institution.headDoctor.homePhone}}</h6>
    <h6>ПІП секретар головного лікаря:  {{institution.headDoctorSecretary.name}}</h6>
    <h6>Робочий телефон:  {{institution.headDoctorSecretary.workPhone}}</h6>
    <h6>Приймальне відділення:  <span *ngIf = "institution.receptionOffice">Наявне</span><span *ngIf = "!institution.receptionOffice">Відсутнє</span></h6>
    <h6>Телефон приймального відділення:  {{institution.receptionOfficePhone}}</h6>
    <h6>Реєстратура амбулаторно-поліклінічного підрозділу:  <span *ngIf = "institution.registryOffice">Наявна</span><span *ngIf = "!institution.registryOffice">Відсутня</span></h6>
    <h6>Телефон реєстратури: {{institution.registryOfficePhone}}</h6>
    <h6>Кількість населення, яке офіційно зареєстровано на території обслуговування закладу (постійне на 01.01):  {{institution.totalPopulation}}</h6>
    <h6>Кількість населення, яке офіційно зареєстровано в населеному пункті: {{institution.population}}</h6>
    <h6>Рівень надання медичної допомоги: {{institution.medicalCare}}</h6>
    <h6>Планова ємність:  </h6>
    <h6>- кількість ліжок стаціонару:  {{institution.hospitalBedsNumber}}</h6>
    <h6>- планова ємність амбулаторно-поліклінічного підрозділу:  {{institution.hospitalCapacity}}</h6>
    <h6>Тип закладу: {{institution.institutionType}}</h6>
    <h6>Види допомоги, які надає ЗОЗ:  {{institution.medicalAidTypes}}</h6>
    <h6>Наявність ліцензії:  <span *ngIf = "institution.license">Так</span><span *ngIf = "!institution.license">Ні</span></h6>
    <h6>Номер ліцензії: {{institution.licenseNumber}}</h6>
    <h6>Дата:  {{institution.licenseDate| date:'dd-MM-yyyy'}}</h6>
    <h6>Термін дії з:  {{institution.startLicenseValidity| date:'dd-MM-yyyy'}} по {{institution.endLicenseValidity| date:'dd-MM-yyyy'}}</h6>
    <h6>Задекларовані види допомоги:  {{institution.declaredAssistanceForms}}</h6>
    <h6>Акредитаційна категорія:  {{institution.accreditationCategoryType}}</h6>
    <h6>Номер акредитаційної категорії:  {{institution.accreditationCategoryNumber}}</h6>
    <h6>Дата останньої акредитації:  {{institution.lastAccreditation| date:'dd-MM-yyyy'}}</h6>
    <h6>Термін дії з:  {{institution.startAccreditationValidity| date:'dd-MM-yyyy'}} по {{institution.endAccreditationValidity| date:'dd-MM-yyyy'}}</h6>
    <h6 align="center">Ресурси закладу:  </h6>
    <div class="row">
      <div class="col-md-3">
        <h6>Всього посад:  </h6>
        <h6>Штатні: {{institution.regularDoctorNumber}}</h6>
        <h6>Зайняті:  {{institution.busyDoctorNumber}}</h6>
        <h6>Фізичні особи:  {{institution.individualsDoctorNumber}}</h6>
      </div>
      <div class="col-md-3">
        <h6>Лікарі:  </h6>
        <h6>Штатні: {{institution.regularDoctorNumber}}</h6>
        <h6>Зайняті: {{institution.busyDoctorNumber}}</h6>
        <h6>Фізичні особи:  {{institution.individualsDoctorNumber}}</h6>
      </div>
      <div class="col-md-3">
        <h6>Середній м/п:  </h6>
        <h6>Штатні: {{institution.middleRegularPersonalNumber}}</h6>
        <h6>Зайняті: {{institution.middleBusyPersonalNumber}}</h6>
        <h6>Фізичні особи:  {{institution.middleIndividualsPersonalNumber}}</h6>
      </div>
      <div class="col-md-3">
        <h6>Інший персонал:  </h6>
        <h6>Штатні: {{institution.otherRegularPersonalNumber}}</h6>
        <h6>Зайняті:  {{institution.otherBusyPersonalNumber}}</h6>
        <h6>Фізичні особи: {{institution.otherIndividualsPersonalNumber}}</h6>
      </div>
    </div>
    <h6>Характеристика забудови (типовий проект):  <span *ngIf = "institution.typicalBuilding">Так</span><span *ngIf = "!institution.typicalBuilding">Ні</span></h6>
    <h6>Опалення: {{institution.heatingType}}</h6>
    <h6>Наявність централізованого холодного водопостачання:  <span *ngIf = "institution.coldWaterSupply">Так</span><span *ngIf = "!institution.coldWaterSupply">Ні</span></h6>
    <h6>Наявність централізованого гарячого водопостачання: <span *ngIf = "institution.hotWaterSupply">Так</span><span *ngIf = "!institution.hotWaterSupply">Ні</span></h6>
    <h6>Оснащеність медичним обладнанням та інвентарем:  {{institution.equipment}} %</h6>
    <h6>Забезпеченість медикаментами для надання невідкладної допомоги:  {{institution.medicamentEquipment}} %</h6>
    <h6>Транспортні засоби (автомобілі): </h6>
    <h6>Потреба (кількість):  {{institution.vehiclesNeed}}</h6>
    <h6>Наявність (кількість):  {{institution.vehiclesReality}}</h6>
    <h6>В т.ч. на ходу: {{institution.vehiclesWay}}</h6>
    <h6>Наявність доступу до мережі Internet:  <span *ngIf = "institution.internetSupply">Так</span><span *ngIf = "!institution.internetSupply">Ні</span></h6>
    <h6>Забезпеченість ЗОЗ комп'ютерною технікою: </h6>
    <h6>Потреба (кількість):  {{institution.computerEquipmentNeed}}</h6>
    <h6>Наявність (кількість): {{institution.computerEquipmentReality}}</h6>
  </mat-card-content>
</mat-card>